.input {
  padding: 12px;
  border-radius: 4px;
}

.inputAboutMe {
  border: 1px solid (rgba(0, 0, 0, 0.16));
  background-color: rgba(0, 0, 0, 0.04);
  min-width: 400px;
}
.white {
  border: 1px solid rgba(0, 0, 0, 0.16);
  background: #fff;
  max-width: 300px;
}

.addInput {
  border: 1px solid rgba(0, 0, 0, 0.16);
  background: #fff;
  min-width: 276px;
}
