.text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}

.helperText {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.48);
  font-weight: 400;
  line-height: 16px;
  margin-top: 8px;
}
.inputTitle {
  margin-bottom: 8px;
}
