.select {
  border: 1px solid rgba(0, 0, 0, 0.16);
  background: #fff;
  min-width: 276px;
  padding: 12px;
  border-radius: 4px;
  margin-top: 8px;
  min-width: 300px;
}
.text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
}
