.checkboxWrapper input[type="checkbox"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1.5px solid rgba(0, 0, 0, 0.24);
  margin: 2px;
  &:checked {
    background-color: rgb(151, 151, 151);
    background-image: url(../../assets/img/Check.png);
    background-position: center center;
    border: none;
  }
}
.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #333;
}
